.article{
	font-family : arial;
	text-align: center;
	border-top: 10px dotted #4CAF50;
	overflow: hidden;

}

<<<<<<< HEAD
<<<<<<< HEAD
img{
	
	position: relative;
}

.article ul{
	position: relative;
	text-align : center;
	font-weight:bold;
}

.article li{
=======
li{
>>>>>>> Sylvain's-Work
	font-family: arial;
	font-weight : normal;
	color : #BBBBBB;
	text-align : center;
	
<<<<<<< HEAD
}
=======
>>>>>>> Sylvain's-Work
=======
}
>>>>>>> Sylvain's-Work
