.basket{
	margin-top : 100px;
	margin-left : 20px;
	}

.basket img{
	position : relative;
	height : 25%;
	width : 25%;
}

	
.basket ul{
	position: relative;
	text-align : center;
	top : -80px;
	left : -20px;
}

.basket form{
	position:relative;
	float : right;
	top : -135px;
	left : 75px;
}

.basket p{
	position:relative;
	top : -125px;
	left : 750px;
}
