.basket{
	margin-top : 100px;
	text-align : left;
	}

.basket img{
	
	position: relative;
	height : 15%;
	width : 15%;
	top : 10px;
}


	
.basket ul{
	position: relative;
	text-align : center;
	float : right;
	top : 10px;
	left : -200px;
}

.basket form{
	position:relative;
	float : right;
	top : 30px;
	left : 70px;
}

.basket p{
	position:relative;
	top : -50px;
	left : 500px;
}
