.menu,.search{
	list-style: none;
	float: left;
}

.menu{
	padding: 20px 30px;
}
.search{
	padding: 18px 30px;
}

a{
	text-decoration:none;
	color: white;
}

header{
	text-align: center;
	font: 15px Arial, Helvetica, sans-serif;
	
	margin: 0px;
	width: 100%;
	padding-bottom: 5px;
	height: 100px;

	background-color: #2F4F4F;
}

nav{
	padding:26px ;
	background-color: #2F4F4F;
}

ul{
	position:absolute;
	top: -20px;
	height: 0px;
	
}



ul :hover .submenu{
	display: inline-block;
	
}

nav>ul :hover{
	background-color: #778899;
}

.submenu{
	display: none;
	position: relative;
	top: 70px;
	padding: 20px 30px;
	background-color: #2F4F4F;
}

input{
	background-color: white;
}

input :active{
	background-color: green;
}

